*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #3e65fe;
}
.logo-box{
  background-color: #fff;
  width: 550px;
  padding: 30px 120px;
  position: absolute;
  top: 8%;
  left: 30%;
  border-radius: 10px;
  text-align: center;
}
.logo{
  width: 30px;
  margin-bottom: 20px
}
.logo-box h2{
  margin-bottom: 20px;
}
.logo-box button{
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 30px;
  border: 1px solid #999;
  background: transparent;
  font-weight: 500;
  cursor: pointer;
}
.logo-box button img{
  width: 33px;
  margin-right: 12px;
}
.logo-box button .logo3{
  width: 18px;
}
.logo-box span{
  display: block;
  width: 40px;
  margin: auto;
  background: #fff;
  font-size: 18px;
  margin-top: -13px;
}
.logo-box input{
  width: 100%;
  background: transparent;
  border: 1px solid #999;
  outline: 0;
  padding: 10px;
  border-radius: 10px;
}
::placeholder{
  font-weight: 500;
  color: #333;
}
.logo-box form button{
  background-color: black;
  color: #fff;
  border: 0;
  margin-bottom: 15px;
}

.logo-box p{
  font-size: 14px;
  color: #555;
  margin: 40px 0 50px;
}
.logo-box p a{
  text-decoration: none;
  color: #359cf0;
  margin-left: 100px;
  font-size: 20px;
}